<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>client_email</key>
    <string>firebase-adminsdk-fbsvc@applerestrictions.iam.gserviceaccount.com</string>
    <key>private_key</key>
    <string>-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDFj9CitUSFTXvC
Rt5Dpgd8Vfd1E+Dh3Vdh4keuy17eGH6lDcIwB/MG8ZxCuUKLoETv2ICEu9A3HCjP
FEYh70Ob1ExPBLqGuAVSAn8FdQoiu1ZP8RfmZokMwlDcOvaOGYcFcccshjBKSRu7
imqjTztONL5VjYriC3PQyMsQxSDcZrlmjuhgT2MACYoorLSmvxyFXYyI+11rH012
rGDrzvhBLwH9YWt7oS3uCeV9gXZU2TShx9CgX7XTbsaUcCJAb3AiOeUSrAGFdf8V
fFCK8V4zV6yYblJKimd8WIxfo9pzZ4ovXD8Z5R2fnkiiVAdGvEVESih+gks64Mlw
ppECnUtPAgMBAAECggEAE32ELkEm0OXbg0edjtv22hfbEWRUJ8Q/5iq+OqraoZuW
Bu+MDFQEcFduvJBtVbwKgQUBbNbgjEdNaVyNLLTfnSR9IMCNLFRERhpz8JRi2xlT
QxC8dGECPU2AT7HLeCphjTJz3VshsXpz73UQ3yqmZalDa8pKfNF3bA4bJnzkKIoX
byS8Pyy3tkkYe9bUKZzK5cPaXX4h2JvyOAjOMUjnXXYGF2UhLvxV0EnXZn2+BTPt
rQM0hujYYtTWIVC3jQfPrjYoIbF0Uty3p/dbSRo/kbCAf7ezwUW6V2LefVOJhbWZ
MkotG4DD1qm3nC4GtxawjJS7DrolFyaHtMoBlrkyRQKBgQDq0b2BBbQwJ5z74lTa
250dstGF9obdjlFaBK2QoCvE7QcbSpr9+0bVzYVjp/3076L8YZu0n9SltCKvOSd5
1gUdfmf0lneM9ooTMnyJQejsJKPwH4T/wczkkkttO3NpKCNNQeDihCSn9ws+u87E
5pMrfW8iruWm41jub7aIC3Bk2wKBgQDXYcD56uQY2e+u2BRDLWOVcE1r0nC5e6/O
bMmmEGZggwA5of97DtqPYGrcsNzzGAsqS70al4r96+T32ll4nXBLE5AeijLAhzLv
FizEmC59Q+UVacxM7reghtGEQjiGoDZdH2VpEe0Rw4QzGlg+grX0IZh/fMWH4aHq
HcEUmOijnQKBgQDOy+/MVK2fSwOhgG2iYI45vWVwSO/05oUWddA08hoZz3TWwBlH
W6fCWsECRswMjY5IHd32cFvhooZ5Mihlz+mpU81RRcH7TpPC3E94wabTcGE/80I5
yv8avQvYIuc80LBmNYJLenydv58TnGo4Vad+QXVCYiy1kLqdIZzqqshMyQKBgQC6
PBB9CRpKUsfpS3XZ0Hl3Ui/ft4s5FzYhK/gA29VqRlv/eZBLe8CIkTpVsaibmoKt
A+h0Ae1xOnQ1zFvo61mZ0USg46aWy1DDY006gMxSDE8dgOni69djuq+XyRrPbeEU
DH3HqHRxE7pP5cu/4Y4rlpEiS2UR5Yv3v9qgUMd4EQKBgEFYEQX2Sr7ZXsHHrx47
ByiLo8gV2sqV+rql7AF/CfrUB9sfiLAljYcDerxIZe2eSyQHL9nnuqZCxPYSFzmo
ymrWk+FaVpehH9PbPuW84t+gEgozEu3BK4p0YagqtGcOpbRfdzYlPDgmsPenCEPV
chtKt4rnKXkztRAp4RsmhTU0
-----END PRIVATE KEY-----</string>
</dict>
</plist>
